In [11]:
import pandas as pd
from matplotlib import pyplot as plt

In [32]:
df_1 = pd.read_csv('./scraped_data/used_cars.csv')
df_2 = pd.read_csv('./scraped_data/used_cars2.csv')
df_3 = pd.read_csv('./scraped_data/used_cars3.csv')
df_1 = df_1.rename(columns={" Brand":"Brand"})

In [33]:
df = pd.concat([df_1, df_2, df_3], ignore_index=True)

In [9]:
df.to_csv('../Data/fullUsed.csv', index=False)

In [34]:
def hasukr(s):
    lower = set('абвгґдеєжзиіїйклмнопрстуфхцчшщьюя')
    return lower.intersection(s.lower()) != set()

In [35]:
def dropping(data:pd.DataFrame, *args , **kwargs):
    print(f"Shape before dropping: {data.shape}")
    data = data.drop(*args, **kwargs)
    print(f"Shape after dropping: {data.shape}")
    return data

In [36]:
ukr_indexes = df[df.Brand.apply(lambda x: hasukr(x))].index
df = dropping(df, ukr_indexes)

Shape before dropping: (97314, 9)
Shape after dropping: (90457, 9)

In [37]:
cars = df.Brand.value_counts()[df.Brand.value_counts() < 200].index
small_cars = df[df.Brand.isin(cars)].index
small_cars

Int64Index([  674,   809,   951,  1013,  1069,  1080,  1126,  1476,  1564,
             1600,
            ...
            96390, 96616, 96703, 96761, 96889, 96906, 96963, 96965, 96983,
            97169],
           dtype='int64', length=1535)

In [38]:
df = dropping(df, small_cars)

Shape before dropping: (90457, 9)
Shape after dropping: (88922, 9)

In [51]:
df = df[df.City.isin(df.City.value_counts()[df.City.value_counts() > 200].index)]

In [52]:
df.shape

(72031, 9)

In [53]:
df.City.value_counts()[df.City.value_counts() > 200]

Київ                     15606
Львів                     5730
Одеса                     5532
Харків                    4286
Дніпро                    3321
Вінниця                   2808
Івано-Франківськ          2396
Рівне                     2179
Луцьк                     2109
Тернопіль                 2009
Чернівці                  1885
Запоріжжя                 1794
Хмельницький              1742
Житомир                   1490
Полтава                   1239
Миколаїв                  1199
Черкаси                   1036
Кривий                    1015
Херсон                     998
Суми                       936
Чернігів                   865
Біла                       811
Ужгород                    806
Кропивницький              710
Коломия                    680
Стрий                      633
Мукачеве                   557
Кременчук                  535
Дрогобич                   529
Маріуполь                  492
Ковель                     462
Бровари                    451
Калуш                      433
Умань                      427
Бердичів                   423
Дубно                      394
Кам'янець-Подільський      389
Кам'янське                 348
Самбір                     348
Мелітополь                 337
Краматорськ                304
Хуст                       266
Ірпінь                     235
Бориспіль                  224
Трускавець                 221
Червоноград                220
Тячів                      216
Сарни                      203
Новоград-Волинський        202
Name: City, dtype: int64

In [54]:
df

,Brand,Model,Year,Run,City,Benz,L,Transmission,Price_USD
0,Audi,Q7,2019,40,Одеса,Дизель,3,Автомат,65500
1,Toyota,Land Cruiser 200,2008,190,Київ,Бензин,4.7,Автомат,25900
2,Mercedes-Benz,G 350,2015,103,Харків,Дизель,3,Автомат,79900
3,Nissan,X-Trail,2010,97,Київ,Бензин,2,Автомат,11500
4,Mazda,CX-5,2017,99,Київ,Дизель,2.2,Автомат,23300
...,...,...,...,...,...,...,...,...,...
97303,Peugeot,306,1996,100,Київ,Дизель,2,Ручна/Механіка,4800
97307,Skoda,Octavia A7,2016,235,Самбір,Дизель,1.6,Unknown,12400
97308,Citroen,C4,2013,215,Дрогобич,Дизель,1.6,Ручна/Механіка,6500
97309,Chery,Eastar,2007,266,Київ,Газ / Бензин,2,Ручна/Механіка,5200
97313,Volkswagen,Multivan,2010,172,Київ,Дизель,2,Автомат,21990

In [55]:
df = df.reset_index()

In [56]:
df = df.reset_index()
df

,Brand,Model,Year,Run,City,Benz,L,Transmission,Price_USD
0,Audi,Q7,2019,40,Одеса,Дизель,3,Автомат,65500
1,Toyota,Land Cruiser 200,2008,190,Київ,Бензин,4.7,Автомат,25900
2,Mercedes-Benz,G 350,2015,103,Харків,Дизель,3,Автомат,79900
3,Nissan,X-Trail,2010,97,Київ,Бензин,2,Автомат,11500
4,Mazda,CX-5,2017,99,Київ,Дизель,2.2,Автомат,23300
...,...,...,...,...,...,...,...,...,...
72026,Peugeot,306,1996,100,Київ,Дизель,2,Ручна/Механіка,4800
72027,Skoda,Octavia A7,2016,235,Самбір,Дизель,1.6,Unknown,12400
72028,Citroen,C4,2013,215,Дрогобич,Дизель,1.6,Ручна/Механіка,6500
72029,Chery,Eastar,2007,266,Київ,Газ / Бензин,2,Ручна/Механіка,5200
72030,Volkswagen,Multivan,2010,172,Київ,Дизель,2,Автомат,21990

In [57]:
df.iloc[8971, :]

Brand              Daewoo
Model               Matiz
Year                 2006
Run                    97
City            Запоріжжя
Benz               Бензин
L                     0.8
Transmission      Автомат
Price_USD            3700
Name: 8971, dtype: object

In [43]:
ukr_models = df[df.Model.apply(lambda x: hasukr(x))]
ukr_models = ukr_models.Model.str.rstrip('.')

In [44]:
ukr_models.str.rsplit(" ", n=1).str[-1].unique()

array(['груз', 'пасс', 'С', 'пас', 'груз.-пасс', 'груз-пасс', 'вантаж',
       'груз-пас', 'СС', 'вантаж-пас', 'GХ2'], dtype=object)

In [45]:
ukr_models.drop(ukr_models[(ukr_models.str.contains('СС')) | (ukr_models.str.contains('GХ2')) | (ukr_models.str.contains('С'))].index, inplace=True)

In [46]:
ukr_models.str.rsplit(" ", n=1).str[-1].unique()

array(['груз', 'пасс', 'пас', 'груз.-пасс', 'груз-пасс', 'вантаж',
       'груз-пас', 'вантаж-пас'], dtype=object)

In [47]:
ukr_models = ukr_models.str.rsplit(' ', n=1).str[0]
ukr_models.unique()

array(['Transit', 'Kangoo', 'T5 (Transporter)', 'Caddy', 'Trafic',
       'Vivaro', 'Partner', 'Sprinter 516', 'Movano', 'LT', 'Jumper',
       'Sprinter 318', 'Master', 'Transit Custom', 'Doblo',
       'Sprinter 316', 'Bipper', 'Berlingo', 'Jumpy', 'Citan', 'H1',
       'Express', 'Transit Connect', 'T6 (Transporter)', 'Sprinter 313',
       'Scudo', 'Crafter', 'Combo', 'Nemo', 'Tourneo Connect',
       'T4 (Transporter)', 'Sprinter 311', 'Qubo', 'Sprinter 216',
       'Primastar', 'Fiorino', 'MB', 'Sprinter 315', 'Sprinter 319',
       'Sprinter 211', 'Sprinter 312', 'Ducato', 'Sprinter 519', 'Expert',
       'L 400', 'Astro', 'Dokker', 'Sprinter 412', 'H 100', 'Boxer',
       'H 200', 'Sprinter 518', 'Sprinter 212', 'C25', 'H 350', 'L 300',
       'Vito', 'Sprinter 208', 'Serena', 'T3 (Transporter)', 'Vanette',
       'Hiace', 'J5', 'Sprinter 513', 'Sprinter 213', 'Sprinter 416',
       'Sprinter 310', 'T1 210', 'Talento', 'Pregio', 'Sprinter 308',
       'Sprinter 413', 'Sprinter 210', 'Sprinter 219'], dtype=object)

In [48]:
df['Special'] = False

In [49]:
df['Special'][ukr_models.index] = True
df['Model'][ukr_models.index] = ukr_models

<ipython-input-49-f6a4758b8b71>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Special'][ukr_models.index] = True
<ipython-input-49-f6a4758b8b71>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Model'][ukr_models.index] = ukr_models

In [51]:
def transform_benz(data):
    dct = {"Дизель": 'dis', 'Бензин': 'benz', 'Газ / Бензин': 'gb', "Газ": 'gas', 'Гібрид': 'gibr', 'Електро': 'elctr', 'Газ пропан-бутан':'gpb', 'Газ метан': 'gb'}
    return data.replace({'Benz': dct})

In [52]:
def transform_trans(data):
    dct = {'Автомат':'auto', 'Ручна/Механіка': 'mech', 'Варіатор':'var','Типтронік': 'tip', 'Робот': 'rob'}
    return data.replace({'Transmission': dct})

In [53]:
df = transform_benz(df)
df

,Brand,Model,Year,Run,City,Benz,L,Transmission,Price_USD,Special
0,Audi,Q7,2019,40,Одеса,dis,3,Автомат,65500,False
1,Toyota,Land Cruiser 200,2008,190,Київ,benz,4.7,Автомат,25900,False
2,Mercedes-Benz,G 350,2015,103,Харків,dis,3,Автомат,79900,False
3,Nissan,X-Trail,2010,97,Київ,benz,2,Автомат,11500,False
4,Mazda,CX-5,2017,99,Київ,dis,2.2,Автомат,23300,False
...,...,...,...,...,...,...,...,...,...,...
57371,Chery,Elara,2008,190,Львів,benz,2,Ручна/Механіка,3100,False
57372,BMW,318,2000,238,Львів,benz,1.9,Ручна/Механіка,4900,False
57373,Peugeot,306,1996,100,Київ,dis,2,Ручна/Механіка,4800,False
57374,Chery,Eastar,2007,266,Київ,gb,2,Ручна/Механіка,5200,False
57375,Volkswagen,Multivan,2010,172,Київ,dis,2,Автомат,21990,False

In [54]:
df = transform_trans(df)
df

,Brand,Model,Year,Run,City,Benz,L,Transmission,Price_USD,Special
0,Audi,Q7,2019,40,Одеса,dis,3,auto,65500,False
1,Toyota,Land Cruiser 200,2008,190,Київ,benz,4.7,auto,25900,False
2,Mercedes-Benz,G 350,2015,103,Харків,dis,3,auto,79900,False
3,Nissan,X-Trail,2010,97,Київ,benz,2,auto,11500,False
4,Mazda,CX-5,2017,99,Київ,dis,2.2,auto,23300,False
...,...,...,...,...,...,...,...,...,...,...
57371,Chery,Elara,2008,190,Львів,benz,2,mech,3100,False
57372,BMW,318,2000,238,Львів,benz,1.9,mech,4900,False
57373,Peugeot,306,1996,100,Київ,dis,2,mech,4800,False
57374,Chery,Eastar,2007,266,Київ,gb,2,mech,5200,False
57375,Volkswagen,Multivan,2010,172,Київ,dis,2,auto,21990,False

In [55]:
df.to_csv('../Data/fullUsed.csv', index=False)

In [56]:
df.shape

(57376, 10)